 <style>
    .disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }
 </style>
 
 <!-- Start Sidemenu Area -->
        <div class="sidemenu-area">
            <div class="sidemenu-header">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <!-- <img src="assets/img/small-logo.png" alt="image"> -->
                    <span>AssistLine</span>
                </a>
            </div>

            <div class="sidemenu-body">
                <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
                    <li class="nav-item-title">
                        Main
                    </li>

                    <li class="nav-item">
                      

                        <ul class="sidemenu-nav-second-level">
                            <li class="nav-item">
                                <a href="/admin/dashboard" class="nav-link">
                                    <span class="icon"><i class='bx bx-home-alt'></i></span>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a href="/admin/companies" class="nav-link">
                                    <span class="icon"><i class='bx bx-buildings'></i></span>
                                    <span class="menu-title">Les entreprises</span>
                                </a>
                            </li>
                            <li class="nav-item disabled">
                                <a href="/admin/clients" class="nav-link">
                                    <span class="icon"><i class='bx bxs-user-detail'></i></span>
                                    <span class="menu-title">Les clients</span>
                                </a>
                            </li>
                            <li class="nav-item disabled">
                                <a href="/admin/avis" class="nav-link"> 
                                    <span class="icon"><i class='bx bx-detail'></i></span>
                                    <span class="menu-title">Les avis</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    
                 
             
                </ul>
            </div>
        </div>
        