
<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <title>Assistline</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

    <body>

    <!-- Start Forgot Password Area -->
    <div class="forgot-password-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="forgot-password-content">
                    <div class="row m-0">
                        <div class="col-lg-5 p-0">
                            <div class="image">
                                <img src="assets/img/computer.png" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-7 p-0">
                            <div class="forgot-password-form">
                                <h2>Récupérez votre mot de passe</h2>
                                <p class="mb-0">Veuillez indiquer l'adresse électronique que vous avez utilisée lors de la création de votre compte Assistline.</p>

                                <form [formGroup]="resetPasswordForm" >
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="name" formControlName="email" placeholder="Adresse e-mail">
                                        <span class="label-title"><i class='bx bx-envelope'></i></span>
                                        <div *ngIf="email?.invalid && email?.touched">
                                            <small class="error" *ngIf="email?.errors?.['required']" style="color: red;">L'email est requis.</small>
                                            <small class="error" *ngIf="email?.errors?.['email']"  style="color: red;">Format d'email invalide.</small>
                                          </div>
                                    </div>


                                    <button type="submit" class="forgot-password-btn" (click)="onSubmit()" [disabled]="resetPasswordForm.invalid">envoyer le lien</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forgot Password Area -->
        

        <!-- Vendors Min JS -->
  

        <!-- ChartJS -->
    
        <div class="chartjs-colors"> <!-- To use template colors with Javascript -->
            <div class="bg-primary"></div>
            <div class="bg-primary-light"></div>
            <div class="bg-secondary"></div>
            <div class="bg-info"></div>
            <div class="bg-success"></div>
            <div class="bg-success-light"></div>
            <div class="bg-danger"></div>
            <div class="bg-warning"></div>
            <div class="bg-purple"></div>
            <div class="bg-pink"></div>
        </div>
        
    
    </body>
</html>