<div class="register-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="register-form">
                <img src="assets/img/verify-email.png" alt="image" class="verify-img">
                <h2>Vérifiez votre e-mail</h2>
                <p>Veuillez saisir le code à 6 chiffres que nous vous avons envoyé par e-mail.</p>
                <p class="text-danger error-message" *ngIf="errorMessage">
                    <i class="bi bi-x-circle" style="color: red;margin-right:5px;"></i>{{errorMessage}}
                </p>

                <!-- OTP Inputs -->
                <div class="otp-container">
                    <input type="text" maxlength="1" class="otp-input" (input)="moveToNext($event, 1)"  [(ngModel)]="otp[0]" #otp0>
                    <input type="text" maxlength="1" class="otp-input" (input)="moveToNext($event, 2)" [(ngModel)]="otp[1]" #otp1>
                    <input type="text" maxlength="1" class="otp-input" (input)="moveToNext($event, 3)" [(ngModel)]="otp[2]" #otp2>
                    <input type="text" maxlength="1" class="otp-input" (input)="moveToNext($event, 4)" [(ngModel)]="otp[3]" #otp3>
                    <input type="text" maxlength="1" class="otp-input" (input)="moveToNext($event, 5)" [(ngModel)]="otp[4]" #otp4>
                    <input type="text" maxlength="1" class="otp-input" (input)="moveToNext($event, 6)" [(ngModel)]="otp[5]" #otp5>
                    <div style="align-content:center" *ngIf="loading">
                        <div class="spinner-border spinner-border-sm"  role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                <!-- Loading Indicator -->
             

                <!-- Submit Button (Hidden - Auto Verification on Input) -->
                <button (click)="verifyOtp()" id="verify-btn"  hidden>Vérifier</button>
                <div  style="margin-top:30px;">
                <div [ngStyle]="codeSending?{'cursor':'not-allowed','pointer-events':'none'}:{'cursor':'pointer','pointer-events':'all'}" *ngIf="canResend" (click)="resendOtp()" style="color: #0078d4;"><div class="spinner-border spinner-border-sm" style="scale: 0.7; padding-top:5px;margin-left:5px;" *ngIf="codeSending"  role="status">
                    <span class="sr-only">Loading...</span>
                </div><u>Renvoyer le code</u></div>
                <div *ngIf="codeSent"><i class="bi bi-check-all" style="color: green;"></i> Code renvoyé</div>
            </div>
            </div>
        </div>
    </div>
</div>
