<div class="container">
    <div class="alert alert-success mt-4" role="alert">
        <h4 class="alert-heading">E-mail envoyé !</h4>
        <p>Un e-mail de vérification a été envoyé à votre adresse e-mail. Veuillez vérifier votre boîte de réception pour compléter le processus d'inscription.</p>
        <hr>
        <p class="mb-0">Si vous ne recevez pas l'e-mail dans quelques minutes, veuillez vérifier votre dossier de courrier indésirable.</p>
        <p >Email verifié?    <a href="/login">  Se connecter</a></p>
    </div>
</div>
