.land {
    fill: #cccccc;
    stroke: #000;
    stroke-width: 0.5;
    cursor: pointer;
    /*transition: fill 0.3s ease;*/
    transition: fill 0.5s ease-in-out;

  }
  @keyframes pulse {
    0% { fill: #0078d4; opacity: 1; }
    50% { fill: #005fa3; opacity: 0.7; }
    100% { fill: #0078d4; opacity: 1; }
}
  .land:hover {
    fill: #a3c2f2;
  }
  .land.selected {
    fill: #0078d4 !important;
    animation:alternate 1s pulse;

  }
  

 .map{
  height: 600px;
    width: 700px;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;}

    .map-card{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
       
    }

 
    .selected-regions-inline {
     
      margin-top: 10px;
    }
    
    .selected-regions-inline b {
      margin-right: 5px;
      margin-left: 5px;
    }
    
    .selected-regions-inline i {
      color: #2196f3; /* Blue for the arrows */
    }
       

@media screen and (max-width: 991px) {
  .map {
    width: 100%;
    height: 400px;
  }
  
}