<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


       
        <script src="https://www.paypal.com/sdk/js?client-id=ARNVx6a5qIuRIhDkzuo2Uv7SnwOjsrX45p6HxwRV5Hh-JYmuP95loM1XXT8snKhcN4p9E-qdc87W0IS8"></script>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

    <body>
        <app-sidebar></app-sidebar>
        <div class="main-content d-flex flex-column">
            <app-navbar></app-navbar>
            <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="basicModalCenter" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configurer un message automatique</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <p>ce message sera automatiquement envoyé une fois à tous les clients qui vous envoient un message. laissez vide pour aucun message.</p>
                <textarea [(ngModel)]="autoMessage" name="autoMessage" class="form-control" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="saveAutoMessage()">Sauvegarder</button>
            
            </div>
        </div>
    </div>
</div>

<!--Client payment modal -->
<div class="modal fade" id="clientPayment" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paiement</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="paypal-button-container"></div>
                <button type="button" #cancelButtonClient class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            
            </div>
        </div>
    </div>
</div>
<!--Feedback modal -->
<div class="modal fade" id="feedbackModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Donnez-nous votre Avis !</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #feedbackForm="ngForm">
                <div class="container d-flex justify-content-center mt-200" style="margin-left: -20px;">

                    <div class="row">
                    
                        <div class="col-md-12">
                    
                            <div class="stars">
                     
                        <input class="star star-5" id="star-5" type="radio" name="star" value="5" ngModel/>
                        <label class="star star-5" for="star-5"></label>
                    
                        <input class="star star-4" id="star-4" type="radio" name="star" value="4" ngModel/>
                        <label class="star star-4" for="star-4"></label>
                    
                        <input class="star star-3" id="star-3" type="radio" name="star" value="3" ngModel/>                   
                        <label class="star star-3" for="star-3"></label>
                    
                        <input class="star star-2" id="star-2" type="radio" name="star" value="2" ngModel/>  
                        <label class="star star-2" for="star-2"></label>
                    
                        <input class="star star-1" id="star-1" type="radio" name="star" value="1" ngModel/>
                        <label class="star star-1" for="star-1"></label>

                    </div>
                        </div>
                    </div>
                    
                    </div>
                <div class="form-group">
                    <label>Commentaire</label>
                    <textarea class="form-control" rows="3" id="feedbackomment" placeholder="Donner votre avis ici" ngModel name="comment"></textarea>
                </div>
            </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetModal()">Plus tard</button>
                <button type="button" class="btn btn-primary" (click)="saveFeedback(feedbackForm)">Confirmer</button>
            </div>
        </div>
    </div>
</div>





<!--Company modal-->
<div class="modal fade" id="companyPayment" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configurer le payment du l'offre</h5>
                <button type="button" class="close" data-dismiss="modal" #cancelButtonCompany>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                    <label>Montant:</label>
                <input type="number"  [(ngModel)]="amount" name="amount" class="form-control" style="width: 250px;" [readOnly]="this.selectedConversation?.payment_id"><br>
                <div class="alert alert-warning" role="alert" >après avoir enregistré le montant, le client aura la possibilité de payer. Vous ne pouvez annuler le paiement que si le client n'a pas encore payé.</div>

            </div>
            <div class="modal-footer">
                <button type="button" #cancelButtonCompany class="btn btn-danger" (click)="cancelPaymentCompany()"  [disabled]="!this.selectedConversation?.payment_id">Annuler le paiement</button>
                <button type="button" class="btn btn-primary" (click)="newPayment()" [disabled]="this.selectedConversation?.payment_id">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

            <!-- Start -->
            <h2>Chat</h2>
            <div class="chat-content-area mt-20">
                <div class="sidebar-left">
                    <div class="sidebar">
                        <div class="chat-sidebar-header d-flex align-items-center">
                            <button type="button" class="btn btn-secondary rounded-pill" *ngIf="isCompanyy" style="height: 30px;padding-bottom:30px;" data-toggle="modal" data-target="#basicModalCenter"><i class="bx bx-cog" ></i><small > message automatique</small></button>
                            
                        </div>
                            
                        <div class="sidebar-content d-flex chat-sidebar" data-simplebar>

                            <div class="chat-menu">

                                <label class="d-block list-group-label mt-0">Conversations</label>
                                <div class="content-right">
                                    <div class="chat-area">
                                        <div class="chat-list-wrapper">
                                            <div class="chat-list">
                                                <div class="chat-list-header d-flex align-items-center">
                                                    
                
                                                </div>
                                        </div></div></div>                
                                </div>
                                <ul class="list-group list-group-user list-unstyled mb-0">
                                    <li *ngFor="let conversation of conversations" (click)="selectConversation(conversation)" >
                                        
                                        <div class="d-flex align-items-center">
                                            <div class="avatar mr-3">
                                                <img src="{{getPicture(conversation)}}" width="50" height="50" style="width: 50px;height:50px" class="rounded-circle" alt="image">
                                                <span class="status-online" *ngIf="isOnline(conversation)"></span>
                                               <span class="status-offline" *ngIf="! isOnline(conversation)"></span>
                                               

                                            </div>
                                            <div class="user-name">
                                                <div>
                                                <h6 class="font-weight-bold">{{ getDisplayName(conversation) }}</h6>
                                            </div>
                                                <span class="d-block"*ngIf="new(conversation)" ><i class="bx bxs-message-rounded" style="color: red;" ></i><small>  Nouveau message(s)</small></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="content-right">
                    <div class="chat-area" >
                        <div class="chat-list-wrapper">
                            <div class="chat-list" >
                                <div class="chat-list-header d-flex align-items-center" *ngIf="selectedConversation">
                                    <div class="header-left d-flex align-items-center mr-3">
                                        <div class="avatar mr-3">
                                            <img src="{{getPicture(selectedConversation)}}" width="70" height="70" class="rounded-circle" alt="image">
                                            <span class="status-online" *ngIf="isOnline(selectedConversation)"></span>
                                            <span class="status-offline" *ngIf="! isOnline(selectedConversation)"></span>
                                                
                                        </div>
                                        
                                        <h6 class="mb-0 font-weight-bold" *ngIf="selectedConversation">{{getDisplayName(selectedConversation)}}</h6>
                                    </div>
                                        
                                    <div class="header-right text-right w-100" *ngIf="isCompanyy">
                                        <button type="button" class="btn btn-warning rounded-pill" *ngIf="paymentDone" data-toggle="modal" style="margin-right: 10px;" data-target="#feedbackModal"><i class="bx bx-happy"></i>Avis</button>

                                        <button type="button" class="btn btn-success rounded-pill" [disabled]="!paypalExist || paymentDone" data-toggle="modal" data-target="#companyPayment"><i class="bx bx-money"></i> Paiement</button>
                                        <small style="color: red;"*ngIf="!paypalExist"><i class="bx bx-error-circle" ></i>Ajoutez d'abord votre compte paypal dans votre profil</small>
                                        <div *ngIf="paymentDone"><small style="color: green;"><i class="bx bx-check-circle"></i></small><small style="color: green;">Paiement effectué !</small></div>

                                    </div>
                                    <div class="header-right text-right w-100" *ngIf="!isCompanyy">
                                        <button type="button" class="btn btn-success rounded-pill"  data-toggle="modal" data-target="#clientPayment" [disabled]="!amount || paymentDone"><i class="bx bx-money" ></i> Paiement</button>
                                        <div *ngIf="!amount"><small><i class="bx bx-error-circle"></i></small><small >L'entreprise doit d'abord autoriser le paiement</small></div>
                                            <div *ngIf="paymentDone"><small style="color: green;"><i class="bx bx-check-circle"></i></small><small style="color: green;">Paiement effectué !</small></div>
    

                                    </div>
                

                                </div>
                                <div style="margin-left:90px;margin-top:-30px;margin-bottom:10px;color:green" *ngIf="isOnline(selectedConversation)">
                                <small>en ligne</small></div>
                                <div style="margin-left:90px;margin-top:-30px;margin-bottom:10px;color:red" *ngIf="selectedConversation && !isOnline(selectedConversation)">
                                    <small>déconnecté</small></div>

                                <div class="chat-container" data-simplebar  >
                                    <div class="chat-content" >
                                      <div *ngFor="let message of messages" >
                                        <div  class="chat" *ngIf="message.sender_id != userId">
                                        <div class="chat-avatar">
                                          <a href="#" class="d-inline-block">
                                            <img src="{{profilePicture}}" width="50" height="50" class="rounded-circle" alt="image">
                                          </a>
                                        </div>
                                  
                                        <div class="chat-body" >
                                          <div class="chat-message">
                                            <p>{{ message.message }}</p>
                                            <span class="time d-block">{{ message.time | date: 'hh:mm a' }}</span>
                                          </div>
                                        </div>
                                      </div>



                                      <div  class="chat chat-left" *ngIf="message.sender_id == userId">
                                        <div class="chat-avatar">
                                          <a href="#" class="d-inline-block">
                                            <img src="{{getPicture(selectedConversation)}}" width="50" height="50" class="rounded-circle" alt="image">
                                          </a>
                                        </div>
                                  
                                        <div class="chat-body">
                                          <div class="chat-message">
                                            <p>{{ message.message }}</p>
                                            <span class="time d-block" style="margin-bottom:5px">{{ message.time | date: 'hh:mm a' }}</span>
                                          </div>
                                        </div>
                                      </div>


                                    </div>
                                    <div hidden>  {{scrollToBottom()}}</div>
                                    </div>
                                  </div>
                                  

                                <div class="chat-list-footer" *ngIf="selectedConversation">
                                    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" class="d-flex align-items-center">
                             

                                        <input type="text" class="form-control" name="newMessage" [(ngModel)]="newMessage" placeholder="Type your message...">

                                        <button type="submit" class="send-btn d-inline-block"  *ngIf="isEmpty(newMessage)">Envoyer <i class="bx bx-paper-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <div class="flex-grow-1"></div>

            <!-- Start Footer End -->
            <footer class="footer-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <p>Copyright <i class='bx bx-copyright'></i> 2020 <a href="#">Olaf</a>. All rights reserved</p>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 text-right">
                        <p>Designed by ❤️ <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                        

                    </div>
                </div>
            </footer>
            <!-- End Footer End -->

     
        <!-- End Main Content Wrapper Area -->
     


        <div class="chartjs-colors"> <!-- To use template colors with Javascript -->
            <div class="bg-primary"></div>
            <div class="bg-primary-light"></div>
            <div class="bg-secondary"></div>
            <div class="bg-info"></div>
            <div class="bg-success"></div>
            <div class="bg-success-light"></div>
            <div class="bg-danger"></div>
            <div class="bg-warning"></div>
            <div class="bg-purple"></div>
            <div class="bg-pink"></div>
        </div>
        </div>
        <script>
            paypal
              .Buttons({
                createOrder: function(data, actions) {
                  // This function sets up the details of the transaction, including the amount and currency.
                  return actions.order.create({
                    purchase_units: [{
                      amount: {
                        value: '10.00' // Replace with the amount you want to charge
                      }
                    }]
                  });
                },
                onApprove: function(data, actions) {
                  // This function captures the transaction when the user approves the payment.
                  return actions.order.capture().then(function(details) {
                    // Call your backend to save the transaction details or perform further actions
                    // Example: You can use fetch or Angular's HttpClient to make a POST request to your backend
                  });
                }
              })
              .render('#paypal-button-container'); // Specify the ID of the container where you want to render the PayPal button
          </script>
          
    </body>
</html>