style="width: 100xp;" <app-sidebar></app-sidebar>
<div class="main-content d-flex flex-column">
  <app-navbar></app-navbar>
  <br><div class="d-flex justify-content-center"><h2>Modifier Offre</h2></div><hr><br>

  <div class="d-flex justify-content-center">
    <div class="card" style="width: 700px;">
      <div class="card-body">
        <form #offerForm="ngForm" (ngSubmit)="updateOffer()" novalidate *ngIf="offer">
          <div class="form-group">
              <label>Titre</label>
              <input type="text" class="form-control" [(ngModel)]="offer.title" name="title" required>
          </div>
          <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="4" [(ngModel)]="offer.description" name="description" required></textarea>
          </div>
          <!-- Add new fields based on the updated offer model -->
          <div class="form-group">
              <label>Date Départ</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="offer.depart_date_formatted" name="depart_date" [attr.min]="minDate" required>
            </div>
          <div class="form-group">
              <label>Date Arrivé</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="offer.arrival_date_formatted" name="arrival_date" [attr.min]="minDate" required>
          </div>
          <div class="form-group">
              <label>Itineraire</label>
              <textarea class="form-control" rows="4" [(ngModel)]="offer.itinerary" name="itinerary" required></textarea>
          </div>
         
          <!-- End new fields -->
          <div style="margin-left: 450px;">
          <button type="button" class="btn btn-secondary" style="margin-right:10px" (click)="goBack()">Annuler</button>
          
          <button type="submit" class="btn btn-primary" [disabled]="!offerForm.valid">Modifier</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
