<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     
        <title>Olaf - Admin Dashboard Template</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
        <style>
            
            .flex-container {
                display: flex;
                gap: 10px; 
                margin-left: 0px;
                /* Adjust the gap as needed */
            }
            
            .new-product-box,
            .new-user-box,
            .upcoming-product-box {
                flex: 1;
               
                /* Add additional styles as needed */
            }
            
        </style>
    </head>

    <body>

        
        <app-sidebar-admin></app-sidebar-admin>
        <!-- Start Main Content Wrapper Area -->
        <div class="main-content d-flex flex-column">
            <app-navbar-admin></app-navbar-admin>
            <!-- Top Navbar Area -->
       
            <br>
            <!-- Welcome Area -->
            <div class="welcome-area">
                <div class="row m-0 align-items-center">
                    <div class="col-lg-5 col-md-12 p-0">
                        <div class="welcome-content">
                            <h1 class="mb-2">Bienvenue Admin!</h1>
                            <p class="mb-0"></p>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-12 p-0">
                        <div class="welcome-img">
                            <img src="assets/img/welcome-img.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Welcome Area -->
            <div *ngIf="loading" class="d-flex justify-content-center" style="margin-top: 100px;">
            <div class="spinner-grow text-dark" role="status" style="margin-right:20px;">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status" style="margin-right:20px;">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status" style="margin-right:5px;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div [hidden]="loading">
            <!-- Stats Area -->
            <div class="ecommerce-stats-area" >
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-stats-card-box">
                            <div class="icon">
                                <i class='bx bxs-user-check'></i>
                            </div>
                            <span class="sub-title">Clients actifs</span>
                            <h3>{{documentCount.client!}} <span class="badge"> </span></h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-stats-card-box">
                            <div class="icon">
                                <i class='bx bxs-user-check'></i>
                            </div>
                            <span class="sub-title">Sociétés actifs</span>
                            <h3>{{documentCount.company}} <span class="badge badge-red"></span></h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-stats-card-box">
                            <div class="icon">
                                <i class='bx bx-file'></i>
                            </div>
                            <span class="sub-title">Demandes</span>
                            <h3>{{documentCount.demandes}}  <span class="badge"></span></h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-stats-card-box">
                            <div class="icon">
                                <i class='bx bx-shopping-bag'></i>
                            </div>
                            <span class="sub-title">Offres</span>
                            <h3>{{documentCount.offers}}  <span class="badge"></span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Stats Area -->

            <!-- Start -->
            <div class="row">
                <div class="col-lg-6 col-md-9">
                    <div class="card mb-30">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3>Total des versements par mois</h3>

                  
                        </div>

                        <div class="card-body">
                            <div class="revenue-summary-content">
                                <div class="d-sm-flex">
                                    <!--<div class="pr-4 border-right">
                                        <p class="mb-1">Net Revenue</p>
                                        <h5 class="mb-0">
                                            <span class="font-weight-bold">$50,525</span>
                                            <span class="primary-text">+8.71%</span>
                                        </h5>
                                    </div>

                                    <div class="px-4 border-right">
                                        <p class="mb-1">Selling</p>
                                        <h5 class="mb-0">
                                            <span class="font-weight-bold">$20,520</span>
                                            <span class="danger-text">+2.82%</span>
                                        </h5>
                                    </div>

                                    <div class="px-4">
                                        <p class="mb-1">Cost</p>
                                        <h5 class="mb-0">
                                            <span class="font-weight-bold">$7,317</span>
                                            <span class="primary-text">+10.2%</span>
                                        </h5>
                                    </div>-->
                                </div>
                            </div>

                            <div id="paymentChart" class="extra-margin"></div>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-6 col-md-12">
                    <div class="card recent-orders-box mb-30">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3>Paiements récents</h3>

                       
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Société</th>
                                            <th>Paiment créé à</th>
                                            <th>Montant</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        <tr *ngFor="let payment of payments">
                                            <td class="name"><img [src]="payment.company_image" alt="image"> {{payment.company_name}}</td>
                                            <td>{{payment.time | date: 'dd MMM yyyy'}}</td>
                                            <td>{{payment.amount}}€</td>
                                            <td><span class="badge badge-primary" *ngIf="payment.paid">Reçu</span></td>
                                            <td><span class="badge badge-primary" *ngIf="!payment.paid">En attente</span></td>

                                        </tr>
                                    
                                       <!-- <tr>
                                            <td class="name"><img src="assets/img/user2.jpg" alt="image"> Tom Hardy</td>
                                            <td>11 May 2019</td>
                                            <td>$954</td>
                                            <td><span class="badge badge-success">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td class="name"><img src="assets/img/user3.jpg" alt="image"> Colin Firth</td>
                                            <td>10 May 2019</td>
                                            <td>$214</td>
                                            <td><span class="badge badge-danger">Declined</span></td>
                                        </tr>
                                        <tr>
                                            <td class="name"><img src="assets/img/user4.jpg" alt="image"> Jude Law</td>
                                            <td>09 May 2019</td>
                                            <td>$120</td>
                                            <td><span class="badge badge-success">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td class="name"><img src="assets/img/user5.jpg" alt="image"> Idris Elba</td>
                                            <td>08 May 2019</td>
                                            <td>$999</td>
                                            <td><span class="badge badge-primary">Received</span></td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-30 col-md-30">
                <div class="flex-container">
                    <div class="new-product-box" style="width: 250 !important;">
                        <div class="icon">
                            <i class='bx bxs-chat'></i>
                        </div>
                        Conversations
                        <span class="sub-text d-block font-weight-bold">{{documentCount.conversations}}</span>
                    </div>
            
                    <div class="new-user-box">
                        <div class="icon">
                            <i class='bx bx-user-pin'></i>
                        </div>
                        Nouveaux utilisateurs
                        <span class="sub-text d-block font-weight-bold">{{documentCount.new_users}}</span>
                    </div>
            
                    <div class="new-product-box">
                        <div class="icon">
                            <i class='bx bx-cart-alt'></i>
                        </div>
                        Upcoming Products
                        <span class="sub-text d-block font-weight-bold">1.1K</span>
                    </div>
                </div>
            </div>
            

                <div class="row">
                    <div class="col-lg-30 col-md-30">
                        <div class="card mb-30">
                            <div class="card-header">
                                <h3>Nombre d'inscriptions de clients et d'entreprises</h3>
                            </div>
    
                            <div class="card-body">
                                <div id="clientCompanyChart" class="extra-margin"></div>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="card browser-statistics-box mb-30">
                        <div class="card-header">
                            <h3>Browser Statistics</h3>
                        </div>

                        <div class="card-body">
                            <div class="box d-flex align-items-center">
                                <div class="img">
                                    <img src="assets/img/chrome.png" alt="image">
                                </div>

                                <div class="content">
                                    <h5 class="mb-0">Google Chrome</h5>

                                    <div class="statistics-bar d-flex align-items-center">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="100"></div>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box d-flex align-items-center">
                                <div class="img">
                                    <img src="assets/img/mozilla.png" alt="image">
                                </div>

                                <div class="content">
                                    <h5 class="mb-0">Mozila Firefox</h5>

                                    <div class="statistics-bar d-flex align-items-center">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="99"></div>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="99">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box d-flex align-items-center">
                                <div class="img">
                                    <img src="assets/img/opera.png" alt="image">
                                </div>

                                <div class="content">
                                    <h5 class="mb-0">Opera Mini</h5>

                                    <div class="statistics-bar d-flex align-items-center">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="95"></div>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="95">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box d-flex align-items-center">
                                <div class="img">
                                    <img src="assets/img/edge.png" alt="image">
                                </div>

                                <div class="content">
                                    <h5 class="mb-0">Microsoft Edge</h5>

                                    <div class="statistics-bar d-flex align-items-center">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="90"></div>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="90">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box d-flex align-items-center">
                                <div class="img">
                                    <img src="assets/img/internet-explore.png" alt="image">
                                </div>

                                <div class="content">
                                    <h5 class="mb-0">Internet Explorer</h5>

                                    <div class="statistics-bar d-flex align-items-center">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="85"></div>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="85">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box d-flex align-items-center">
                                <div class="img">
                                    <img src="assets/img/brave.png" alt="image">
                                </div>

                                <div class="content">
                                    <h5 class="mb-0">Brave</h5>

                                    <div class="statistics-bar d-flex align-items-center">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="95"></div>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="95">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> End -->
                </div>
            </div>
            

            <!-- Start -->
            <div class="row">
              

           
            <!-- End -->

            <!-- End -->
            
            <!-- Start Footer End -->
            <footer class="footer-area" [hidden]="loading">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <p>Copyright <i class='bx bx-copyright'></i> 2024 <a href="/home">AssistLine</a></p>
                    </div>

                </div>
            </footer>
            <!-- End Footer End -->
</div>
        </div>
        <!-- End Main Content Wrapper Area -->
        
        
        <!-- Vendors Min JS -->
     

        <!-- ChartJS -->
     
        <div class="chartjs-colors"> <!-- To use template colors with Javascript -->
            <div class="bg-primary"></div>
            <div class="bg-primary-light"></div>
            <div class="bg-secondary"></div>
            <div class="bg-info"></div>
            <div class="bg-success"></div>
            <div class="bg-success-light"></div>
            <div class="bg-danger"></div>
            <div class="bg-warning"></div>
            <div class="bg-purple"></div>
            <div class="bg-pink"></div>
        </div>
        
        <!-- jvectormap Min JS -->
     
    </body>
</html>