<style>
    .disabled{
        pointer-events: none;
        opacity: 0.5;
    }
</style>

<div class="sidemenu-area toggle-sidemenu-area">
    <div class="sidemenu-header">
        <a href="/offers" class="navbar-brand d-flex align-items-center">
            <span>AssistLine</span>

        </a>

        <div class="burger-menu d-none d-lg-block">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>

    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
            <li class="nav-item-title">
                Main
            </li>

            <li class="nav-item">
              

                <ul class="sidemenu-nav-second-level">
                    

                    <li class="nav-item">
                        <a href="/offers" class="nav-link">
                            <span class="icon"><i class='bx bxs-shopping-bag'></i></span>
                            <span class="menu-title">Les offres</span>
                        </a>
                    </li>
                    <li class="nav-item disabled" >
                        <a href="/demandes" class="nav-link">
                            <span class="icon"><i class='bx bxs-file'></i></span>
                            <span class="menu-title">Les demandes</span>
                        </a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="/chat" class="nav-link">
                            <span class="icon"><i class='bx bx-message'></i></span>
                            <span class="menu-title">Chat</span>
                        </a>
                    </li>
                </ul>
            </li>

            
         
     
        </ul>
    </div>
</div>
            