#volume-slider, #price-slider {
    width: 60%;
}
.noUi-horizontal {
    height: 15px !important;
}

.noUi-horizontal .noUi-handle {
    width: 28px !important;
    height: 25px !important;
    top: -6px !important;
}

.noUi-connect {
    background: #3f82b8 !important;
}