<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 

    <link rel="icon" type="image/png" src="../../assets/img/favicon.png">
</head>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<body>
  <app-sidebar></app-sidebar>
  <div class="main-content d-flex flex-column">
  <app-navbar></app-navbar>
<br><h2>Offres</h2>
    <!-- Offer modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="width: 165px;"  data-toggle="modal" data-target="#basicModal">
    + Ajouter une offre
</button>

<!-- Modal -->
<div class="modal fade" id="basicModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding an offer -->
                <form (ngSubmit)="addOffer()" [formGroup]="offerForm">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" [(ngModel)]="newOffer.title" formControlName="title" name="title" >
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="4" [(ngModel)]="newOffer.description" formControlName="description" name="description" required></textarea>
                    </div>
                    <!-- Add more fields as needed -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary"  [disabled]="!offerForm.valid" (click)="addOffer()">Ajouter</button>
            </div>
        </div>
    </div>
</div>

<!--Info Modal-->
<div class="modal fade" id="infoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details du l'offre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding an offer -->
             <p>
                Titre : {{offerDetails.title}}
                <br>
                description : {{offerDetails.description}}
             </p>
            </div>
            <div class="modal-footer">
                <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary"  [disabled]="!offerForm.valid" >Contacter</button>
            </div>
        </div>
    </div>
</div>

<!--End Info Modal-->


    <!-- Your existing code for displaying offers -->
<hr><br>
<div class="row">
  <div class="col-lg-4 col-md-6" *ngFor="let offer of offers">
      <div class="card mb-30">
        <small *ngIf="offer.creationDate">{{ offer.creationDate | creationDate }}</small>
          <div class="card-header d-flex justify-content-between align-items-center">
              <h3>{{offer.title}}</h3>
              <br>
              <div class="dropdown">
                  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class='bx bx-dots-horizontal-rounded' ></i>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item d-flex align-items-center"  data-toggle="modal" data-target="#infoModal" (click)="openInfoModal(offer.id)">
                          <i class='bx bx-show'></i> View
                      </a>
                      <a class="dropdown-item d-flex align-items-center"  href="edit-offer/{{offer.id}}">
                          <i class='bx bx-edit-alt'></i> Edit
                      </a>
                      <a class="dropdown-item d-flex align-items-center" (click)="confirmDelete(offer.id)" >
                          <i class='bx bx-trash'></i> Delete
                      </a>
                  
                  </div>
              </div>
          </div>    
          
          <div class="card-body">
              <p>{{offer.description}}</p>
                
             
          </div>

          <div class="card-footer" *ngIf="offer.updateDate">
            <small >Derniere mise a jour: {{ offer.updateDate | updateDuration }}</small>
          </div>
      </div>
  </div>

  


</div>

</div>


<div *ngIf="offers.length === 0 && !errorMessage" class="loading-message">
  Loading offers...
</div>

</body>
</html>