<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" src="../../assets/img/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
</head>

<body>
    <app-sidebar></app-sidebar>

    <div class="main-content d-flex flex-column">
        <app-navbar></app-navbar>

        <br>
        <h2>Offres</h2>
        <button type="button" (click)="refresh()" class="btn btn-primary" style="width: 50px;height:30px;margin-bottom:10px">
           <i class="bx bx-revision"></i>
        </button>
        
        <!-- Offer modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" style="width: 165px;" data-toggle="modal" data-target="#basicModal" *ngIf="isCompany()" (click)="mapModal()">
            + Ajouter
        </button>
            
        <div style="width:200px; margin-left:1000px;margin-top:-90px">
            <select class="form-control inline-block" [(ngModel)]="filterOption" (change)="applyFilter()" style="margin-bottom: 10px;"  *ngIf="isCompany()">
                <option value="all" selected>Toutes les offres</option>
                <option value="mine">Mes offres</option>
              </select>
             <!-- <button type="button" class="btn btn-secondary" style="width:200px;">Filtrer</button> <br>-->
            <input type="text" class="form-control inline-block" placeholder="Rechercher..." [(ngModel)]="searchQuery" (input)="applyFilter()" *ngIf="isCompany()" >
            <input type="text" class="form-control inline-block" placeholder="Rechercher..." [(ngModel)]="searchQuery" (input)="applyFilter()" *ngIf="! isCompany()" style="margin-top:40px" >

        </div>
        <!-- Modal -->
        <div class="modal fade basicModalXL" id="basicModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" style="width: 1000px;margin-left:350px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter offre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #addOfferModal>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form (ngSubmit)="addOffer()" [formGroup]="offerForm">
                    <div class="modal-body">
                        <!-- Form for adding an offer -->
                       
                            <div class="form-group">
                                <label>Titre</label>
                                <input type="text" class="form-control" [(ngModel)]="newOffer.title" formControlName="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="4" [(ngModel)]="newOffer.description" formControlName="description" name="description" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Date Départ</label>
                                <input type="date" class="form-control" [(ngModel)]="newOffer.depart_date" formControlName="depart_date" [attr.min]="minDate"  name="depart_date" required>
                            </div>
                            <div class="form-group">
                                <label>Date Arrivé</label>
                                <input type="date" class="form-control" [(ngModel)]="newOffer.arrival_date" formControlName="arrival_date" [attr.min]="minDate" name="arrival_date" required>
                            </div>
                            <div class="form-group">
                                <label for="origin">Départ</label>
                                <input type="text" id="origin" class="form-control" [(ngModel)]="newOffer.origin" formControlName="origin" name="origin" placeholder="Saisir le lieu de départ" required>
                                <ul id="origin-suggestions" class="list-group"></ul>
                              </div>
                              <div class="form-group">
                                <label for="destination">Destination</label>
                                <input type="text" id="destination" class="form-control" [(ngModel)]="newOffer.destination" formControlName="destination" name="destination" placeholder="Saisir le lieu de destination" required>
                                <ul id="destination-suggestions" class="list-group"></ul>
                              </div>
                        
                           
                            <div id="map" class="form-group" style="height: 400px; width: 100%;"></div>
                         
                            <button type="button" class="btn btn-info btn-sm"  (click)="removeAllPins()">réinitialiser la carte</button>                          

                            <!-- Add more fields as needed -->
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!offerForm.valid || isAdding" (click)="addOffer()"><div class="spinner-border text-light" style="width:15px;height:15px" role="status" *ngIf="isAdding" >
                            <span class="sr-only">Loading...</span>
                        </div> Ajouter</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <!-- Info Modal -->
        <div class="modal fade basicModalXL" id="infoModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" style="width: 1000px;margin-left:350px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Itineraire</h5><div class="spinner-border text-dark" style="width:15px;height:15px; margin-left:10px" role="status" *ngIf="mapLoading" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Display offer details -->
                    <div id="modalMap" class="form-group" style="height: 400px; width: 100%;">

                       
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-primary" *ngIf="!isCompany() && !belongs(offerDetails.user_id)" (click)="contacter(offerDetails.user_id,offerDetails.username)">Contacter</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Info Modal -->

        <!-- Existing code for displaying offers -->
        <hr>
        <br>
        <div class="d-flex justify-content-center" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 " *ngFor="let offer of filteredOffers  ">
                <div class="card mb-30">

                    
                    <div class="user-info">
                        <a [href]="'/details/' + offer.user_id"><img [src]="offer.picture" alt="Profile Image" class="rounded-circle" style="width: 30px; height: 30px;">
                        <span style="color: black;margin-top:5px;margin-left:5px" ><h6>{{ offer.username }}</h6></span></a>
                    </div>
                    <hr>
                    
                    <div class="card-header d-flex justify-content-between align-items-center">
                        
                        <h3>{{offer.title}}</h3>
                        
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item d-flex align-items-center" data-toggle="modal" data-target="#infoModal" (click)="openInfoModal(offer.id)">
                                    <i class='bx bx-show' style="color: rgb(76, 76, 187);"></i> Voir
                                </a>
                                <a  *ngIf="isCompany() && belongs(offer.user_id)" class="dropdown-item d-flex align-items-center" href="edit-offer/{{offer.id}}">
                                    <i class='bx bx-edit-alt' style="color: rgb(132, 159, 132);"></i> Editer
                                </a>
                                <a  *ngIf="isCompany() && belongs(offer.user_id)" class="dropdown-item d-flex align-items-center" (click)="confirmDelete(offer.id)">
                                    <i class='bx bx-trash' style="color: red;"></i> Supprimer
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="margin-top: -20px;">
                        <p><b>Description: </b>{{offer.description}}
                           <br>
                           <b>Départ: </b> {{offer.origin}}<br>
                           <b>Destination: </b> {{offer.destination}} <br>
                           <b>Date depart: </b>Le {{offer.depart_date | date :'yyyy-MM-dd '}}<br>
                           <b>Date arrivé: </b>Le {{offer.arrival_date | date :'yyyy-MM-dd '}}<br>
                        </p>
                        
                    </div>

                    <div class="card-footer" *ngIf="offer.updateDate">
                        <small>Derniere mise a jour: {{ offer.updateDate | updateDuration }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</body>

</html>
