<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" src="../../assets/img/favicon.png">

    <style>
        .leaflet-control-container .leaflet-routing-container-hide .leaflet-bottom .leaflet-right .leaflet-routing-container{
            display: none;
        }
        @media screen and (min-width:1200px ) and (max-width: 1300px){
            .modal-content{
                width:90%;
                justify-self:center;
            }

           
            }
        .badge1{
            background-color: #e9e8fd;
            padding:7px 9px 6px;
            color: #001fff;
            cursor: pointer;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            margin-bottom: 3px;
            margin-right: 1px;
            display: inline-block;
            font-size: 95%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            &:hover {
                color: white;
                background-color: #001fff;
            };
         
        }
        .badge2{
            background-color: #fde8e8;
            padding: 7px 9px 6px;
            color: #e1000a;
            cursor: pointer;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            margin-bottom: 3px;
            margin-right: 1px;
            display: inline-block;
            font-size: 95%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            &:hover {
                color: white;
                background-color: #e1000a;
            };
         
        }
    </style>
 
    
</head>

<body>
    <app-sidebar></app-sidebar>

    <div class="main-content d-flex flex-column hide-sidemenu-area">
        <app-navbar></app-navbar>

        <br>
        <h2>Offres</h2>
   
       <!-- <button type="button" (click)="refresh()" class="btn btn-primary" style="width: 50px;height:30px;margin-bottom:10px">
           <i class="bx bx-revision"></i>
        </button> -->
        
        <!-- Offer modal -->
        <!-- Button trigger modal -->
        
            
        <div style="display:grid">
        <div style="width:30%;justify-self:end;display:flex;justify-content:right;">
           
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal" style="justify-content: right;margin-right:15px;" ><i class="bx bx-slider-alt" style="margin-right: 5px; margin-top:5px;justify-self:end;"></i>Filtrer</button> <br>
           <!-- <input type="text" class="form-control inline-block" placeholder="Rechercher..." [(ngModel)]="searchQuery" (input)="applyFilter()" *ngIf="! isCompany() " style="margin-top:40px" >-->
            <!--<input type="text" class="form-control inline-block" style="margin-top: 10px;" placeholder="Rechercher..." [(ngModel)]="searchQuery" (input)="applyFilter()"  id="searchQuery" >-->

              
        </div>
        <div style="justify-self:left;margin-top:-30px;">
            <label class="badge1" style="width:150px;" data-toggle="modal" data-target="#basicModal" (click)="mapModal()">
                + ajouter une offre
            </label>
        </div>
    </div>
<!--Filter modal-->
<div class="modal fade basicModalXL" id="filterModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Filtrer</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row" style="margin-top:20px;margin-bottom:30px;">
               
              <div class="col">
                <label style="margin-left:7px;"><h6><b>Départ:</b></h6></label>
                <input type="text" style="width: 200px;" class="form-control inline-block" placeholder="Code postal de départ"
                  [(ngModel)]="filter.origin" id="departSearch">
              </div>
              <div class="col">
                <label style="margin-left:7px;"><h6><b>Destination:</b></h6></label>
                <input type="text" class="form-control inline-block" style="width: 200px;" placeholder="Code postal de destination"
                  [(ngModel)]="filter.destination" id="destinationSearch">
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>

            </div>
  
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xl-7">
                <!-- Dual Range Slider for Volume -->
                <label style="margin-top: 10px; margin-left:7px; margin-bottom:-2px">
                  <h6><b>• Volume (m³):</b></h6>
                </label>
                <div id="volume-slider" style="margin: 20px 7px;"></div>
                <p>Valeur: {{ volumeMin }} - {{ volumeMax }} m³</p>
  
                <!-- Dual Range Slider for Price -->
                <label style="margin-top: 10px; margin-left:7px; margin-bottom:-2px">
                  <h6><b>• Prix (€):</b></h6>
                </label>
                <div id="price-slider" style="margin: 20px 7px;"></div>
                <p>Valeur: {{ priceMin }} - {{ priceMax }} €</p>
              </div>
              <div class="col">
                <label style="margin-top: 10px; margin-left:7px; margin-bottom:-2px">
                  <h6><b>Date départ entre:</b></h6>
                </label><br>
                <input type="date" class="form-control" id="departStartFilter" style="width: 150px; display:inline-block; margin-left:10px"
                  >
                -
                <input type="date" class="form-control" id="departEndFilter" style="width: 150px; display:inline-block; margin-left:5px">
                <br>
                <label style="margin-top: 10px; margin-left:7px; margin-bottom:-2px">
                  <h6><b>Date arrivé entre:</b></h6>
                </label><br>
                <input type="date" class="form-control" id="destinationStartFilter" style="width: 150px; display:inline-block; margin-left:10px"
                 >
                -
                <input type="date" class="form-control" id="destinationEndFilter" style="width: 150px; display:inline-block; margin-left:5px">
              </div>
            </div>
            <br>
          </div>
          <div class="filter-map">
          <app-france-map></app-france-map>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #filterClose hidden>Close</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Réinitialiser</button>
          <button type="button" class="btn btn-primary"  (click)="applyFilter()">
            <div class="spinner-border text-light" style="width:15px; height:15px; margin-right:3px" role="status" *ngIf="filterLoading" >
              <span class="sr-only">Loading...</span>
            </div>
            <i class="bx bx-search-alt-2" style="margin-right: 3px;" *ngIf="!filterLoading"></i>Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>
  
        <!-- Modal -->
        <div class="modal fade basicModalXL" id="basicModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>Ajouter une offre</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #addOfferModal>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form (ngSubmit)="addOffer()" [formGroup]="offerForm">
                    <div class="modal-body">
                        <!-- Form for adding an offer -->
                       <div class="row" style="box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 18%);padding:20px">
                        <div class="form-group col">
                            <label for="volume" style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Volume (m3):</b></h6></label>
                            <input type="number" id="volume" style="width: 200px;" formControlName="volume" [(ngModel)]="newOffer.volume" class="form-control"placeholder="0" required>
                          </div>

                          <div class="form-group col">
                            <label for="prix" style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Prix (€):</b></h6></label>
                            <input type="number" id="prix" class="form-control" formControlName="prix" [(ngModel)]="newOffer.prix" style="width: 200px;" placeholder="0" required>
                          </div>
                          </div>
                        <div class="row" style="box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 18%);padding:20px;">
                            <div class="col form-group" style="justify-content: center;">
                            <label for="origin"  style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Départ:</b></h6></label>
                            <br>
                            <input type="text" id="origin" class="form-control" [(ngModel)]="newOffer.origin" style="width: 200px;display:inline-block;margin-left:10px" formControlName="origin" name="origin" placeholder="Saisir le code postal" maxlength="2"  pattern="[0-9]{1,2}"  (keypress)="validateNumber($event)"  required>
                            <!--<div class="invalid-feedback" style="display: block;margin-left:10px;">Saisir les deux derniers chiffres d'un code postal valide</div>-->

                            <br>
                          
                            <label for="destination"  style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Destination:</b></h6></label><br>
                            <input type="text" id="destination" class="form-control" [(ngModel)]="newOffer.destination " style="width: 200px;display:inline-block;margin-left:10px" formControlName="destination" name="destination" placeholder="Saisir le code postal"   maxlength="2" (keypress)="validateNumber($event)" pattern="[0-9]{1,2}" required>
                        </div>
                        <div class="col" style="justify-content: center;">
                        <label style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>•Date départ entre:</b></h6></label><br>
                            
                        <input type="date" class="form-control" formControlName="depart_date_start" style="width: 130px;display:inline-block;margin-left:10px" id="departStartDate"  value="{{minEndDate1 | date:'yyyy-MM-dd'}}" (change)="updateMinDate1()"> - <input type="date" class="form-control" formControlName="depart_date_end"  [attr.min]="minEndDate1 | date:'yyyy-MM-dd'" id="departEndDate" (change)="updateMinDate3()" style="width: 130px; display:inline-block;margin-left:10px">
       
                     <br>
                     <label style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>•Date arrivé entre:</b></h6></label><br>
       
                     <input type="date" class="form-control" formControlName="arrival_date_start" style="width: 130px;display:inline-block;margin-left:10px"   id="destinationStartDate" [attr.min]="minEndDate3 | date:'yyyy-MM-dd'" value="{{minEndDate3 | date:'yyyy-MM-dd'}}" (change)="updateMinDate2()"> - <input type="date" class="form-control" [(ngModel)]="destinationEndDate" formControlName="arrival_date_end" [attr.min]="minEndDate2 | date:'yyyy-MM-dd'" style="width: 130px; display:inline-block;margin-left:10px">
                   
                    </div>
                  
                </div>
                           <div class="add-map">
                            <app-france-map ></app-france-map>
                        </div>
                            <button type="button" class="btn btn-info btn-sm"  (click)="resetMap('add-map')">réinitialiser la carte</button>                          

                            <!-- Add more fields as needed -->
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!offerForm.valid || isAdding" (click)="addOffer()"><div class="spinner-border text-light" style="width:15px;height:15px" role="status" *ngIf="isAdding" >
                            <span class="sr-only">Loading...</span>
                        </div> Ajouter</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <!-- Info Modal -->
        <div class="modal fade basicModalXL" id="infoModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Itineraire</h5><div class="spinner-border text-dark" style="width:15px;height:15px; margin-left:10px" role="status" *ngIf="mapLoading" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Display offer details -->
                         <div class="info-map" style="pointer-events: none;">
                    <app-france-map></app-france-map> </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Retour</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Info Modal -->

        <!--update offer modal-->
        <div class="modal fade basicModalXL" id="updateModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>Modifier l'offre</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #updateOfferModal>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form  [formGroup]="offerForm">
                    <div class="modal-body">
                        <!-- Form for adding an offer -->
                       <div class="row" style="box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 18%);padding:20px">
                        <div class="form-group col">
                            <label for="volume" style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Volume (m3):</b></h6></label>
                            <input type="number" id="volume2" style="width: 200px;" formControlName="volume" [(ngModel)]="updateOffer.volume" class="form-control"placeholder="0" required>
                          </div>

                          <div class="form-group col">
                            <label for="prix" style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Prix (€):</b></h6></label>
                            <input type="number" id="prix2" class="form-control" formControlName="prix" [(ngModel)]="updateOffer.prix" style="width: 200px;" placeholder="0" required>
                          </div>
                          </div>
                        <div class="row" style="box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 18%);padding:20px;">
                            <div class="col form-group" style="justify-content: center;">
                            <label for="origin"  style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Départ:</b></h6></label>
                            <br>
                            <input type="text" id="origin2" class="form-control" [(ngModel)]="updateOffer.origin" style="width: 200px;display:inline-block;margin-left:10px" formControlName="origin" name="origin" placeholder="Saisir le code postal" maxlength="2"  pattern="[0-9]{1,2}"  (keypress)="validateNumber($event)"  required>
                            <!--<div class="invalid-feedback" style="display: block;margin-left:10px;">Saisir les deux derniers chiffres d'un code postal valide</div>-->

                            <br>
                          
                            <label for="destination"  style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>• Destination:</b></h6></label><br>
                            <input type="text" id="destination2" class="form-control" [(ngModel)]="updateOffer.destination " style="width: 200px;display:inline-block;margin-left:10px" formControlName="destination" name="destination" placeholder="Saisir le code postal"   maxlength="2" (keypress)="validateNumber($event)" pattern="[0-9]{1,2}" required>
                        </div>
                        <div class="col" style="justify-content: center;">
                        <label style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>•Date départ entre:</b></h6></label><br>
                            
                        <input type="date" class="form-control" formControlName="depart_date" style="width: 130px;display:inline-block;margin-left:10px" id="departStartDate2"  value="{{minEndDate1 | date:'yyyy-MM-dd'}}" (change)="updateMinDate1()"> - <input type="date" class="form-control"  [attr.min]="minEndDate1 | date:'yyyy-MM-dd'" id="departEndDate2" (change)="updateMinDate3()" style="width: 130px; display:inline-block;margin-left:10px">
       
                     <br>
                     <label style="margin-top: 10px;margin-left:7px ; margin-bottom:-2px"><h6><b>•Date arrivé entre:</b></h6></label><br>
       
                     <input type="date" class="form-control" formControlName="arrival_date" style="width: 130px;display:inline-block;margin-left:10px"   id="destinationStartDate2" [attr.min]="minEndDate3 | date:'yyyy-MM-dd'" value="{{minEndDate3 | date:'yyyy-MM-dd'}}" (change)="updateMinDate2()"> - <input type="date" class="form-control" [(ngModel)]="destinationEndDate" [attr.min]="minEndDate2 | date:'yyyy-MM-dd'" style="width: 130px; display:inline-block;margin-left:10px">
                   
                    </div>
                  
                </div>
                           <div class="update-map">
                            <app-france-map [modalType]="'update'"></app-france-map>
                        </div>
                            <button type="button" class="btn btn-info btn-sm"  (click)="resetMap('update-map')">réinitialiser la carte</button>                          

                            <!-- Add more fields as needed -->
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" #cancelButton class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!offerForm.valid || isUpdating" (click)="updateOfferDetails()"><div class="spinner-border text-light" style="width:15px;height:15px" role="status" *ngIf="isUpdating" >
                            <span class="sr-only">Loading...</span>
                        </div> Modifier</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!--End update offer modal-->




        <!-- Existing code for displaying offers -->
        <hr>
        <br>
        <div class="d-flex justify-content-center" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 " *ngFor="let offer of filteredOffers  ">
                <div class="card mb-30">

                    
                    <div class="card-header d-flex justify-content-between align-items-center" style="margin-bottom: 5px !important;">
                        <div class="timeline-story-header d-flex align-items-center" >
                            <img src="assets/img/moving.jpg" width="50" height="50" class="rounded-circle" alt="image">

                            <div class="info ml-3">
                                <b>Anonyme</b>
                                <span class="d-block" style="font-size: small;">{{offer.creation_date | date: "dd MMM YYY à HH:mm"}}</span>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-horizontal-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                               
                                <a class="dropdown-item d-flex align-items-center"  style="cursor: default;"  data-toggle="modal" data-target="#updateModal" (click)="openEditOfferModal(offer)">
                                    <i class="bx bx-edit-alt" style="color: blue;"></i> Editer
                                </a>
                                <a class="dropdown-item d-flex align-items-center" style="cursor: default;" (click)="deleteOffer(offer.id_offre)">
                                    <i class="bx bx-trash" style="color:red"></i> Supprimer
                                </a>
                               
                            </div>
                        </div>
                    </div>
                    <hr>
                    
                    <div class="card-header d-flex justify-content-between align-items-center">
                        
                        <h3></h3>
                        
                       
                    </div>

                    <div class="card-body" style="margin-top: -20px;line-height: 2;margin-left:10px">
                        <div>
                           
                           <b>Départ: </b> {{offer.origin}} ({{mapService.departmentMap[offer.origin]}})<br>
                           <b>Destination: </b> {{offer.destination}} ({{mapService.departmentMap[offer.destination]}}) <br>
                           <p *ngIf="!offer.depart_date_end" style="margin-bottom: 0px;"><b>Date départ: </b>Le {{offer.depart_date_start | date :'yyyy-MM-dd '}}</p>
                           <p *ngIf="offer.depart_date_end" style="margin-bottom: 0px;"><b>Date départ: </b>Entre le {{offer.depart_date_start | date :'yyyy-MM-dd '}} et {{offer.depart_date_end | date :'yyyy-MM-dd '}} </p>
                           <p *ngIf="!offer.destination_date_end"  style="margin-bottom: 0px;margin-top: 3px;" ><b>Date arrivé: </b>Le {{offer.destination_date_start | date :'yyyy-MM-dd '}}<br></p>
                           <p *ngIf="offer.destination_date_end"  style="margin-bottom: 0px;margin-top: 3px;"><b>Date arrivé: </b>Entre le {{offer.destination_date_start | date :'yyyy-MM-dd '}} et {{offer.destination_date_end | date :'yyyy-MM-dd '}}<br></p>
                            <b>Volume: </b> {{offer.volume}} &#x33A5; <br>
                            <b>Prix: </b> {{offer.prix}} €<br>
                        </div>
                        <div *ngIf="offer.update_date" style="color: grey;margin-bottom:-15px;">
                            <small><b>Dernière mise a jour:</b> {{ offer.update_date | updateDuration }}</small>
                        </div>
                      <hr>  <div style="display: inline-flex;justify-content: right;width: 100%;gap:5px;">
                            <label class="badge1" (click)="openInfoModal(offer.id_offre)" *ngIf="offer.route && offer.route !=''" data-toggle="modal" data-target="#infoModal"><i class="bi bi-geo-fill" style="margin-right:3px;"></i>Voir map</label>
                            <label class="badge2"><i class="bi bi-chat-quote-fill" style="margin-right:3px;vertical-align:middle;"></i>Contacter</label>
                        
                        </div>
                        </div>

                    
                </div>
            </div>
        </div>
    </div>

   

</body>

</html>
