  <div class="register-area">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="register-form">
            <h2>S'inscrire a notre plateform!</h2>
    
            <form (ngSubmit)="submitForm()" #registerForm="ngForm">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Nom" [(ngModel)]="formData.name" >
                <span class="label-title"><i class='bx bx-user'></i></span>
                <div *ngIf="formData.name == '' || formData.name ==' '" class="text-danger">Ce champs est obligatoire.</div>

                
              </div>
    
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="formData.email" required>
                <span class="label-title"><i class='bx bx-envelope'></i></span>
                <div *ngIf="formData.email == '' || formData.email ==' '" class="text-danger">Ce champs est obligatoire.</div>
              </div>
    
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Mot de passe" [(ngModel)]="formData.password" required>
                <span class="label-title"><i class='bx bx-lock'></i></span>
                <div *ngIf="formData.password == '' || formData.password ==' '" class="text-danger">Ce champs est obligatoire.</div>
              </div>
              
              <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Confirmer mot de passe" [(ngModel)]="formData.password2" required>
                <span class="label-title"><i class='bx bx-lock'></i></span>
                <div *ngIf="formData.password !== formData.password2" class="text-danger">Les mots de passe ne correspondent pas.</div>
              </div>
    
              <div class="form-group">
                <h5>Vous êtes:</h5><br>
                <label>
                  <input class="form-check-input" id="r1" type="radio" name="role" value="client" [(ngModel)]="formData.role" > un client
                </label>
                <br><br>
                <label>
                  <input class="form-check-input" id="r1" type="radio" name="role" value="company" [(ngModel)]="formData.role"> une societé de déménagement
                </label>
              </div>
              
              <div class="form-group" *ngIf="formData.role === 'company'">
                <h6><i class="bx bxs-cloud-upload"></i> Télécharger votre KBIS :</h6>
                <input type="file" class="form-control" name="file" (change)="onFileChange($event)" required>
              </div>
    
              <button type="submit" class="register-btn">S'inscrire</button>
              <br><br><div class="d-flex justify-content-center" *ngIf="loading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
              <p class="mb-0">Vous avez déjà un compte ? <a href="/login">Se connecter</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    